
.hero{
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
              url('https://images.unsplash.com/photo-1581092919534-3cce6c6a3f89');
  background-size: cover;
  background-position: center;
  padding: 6rem 0;
}
.navbar-brand small{
  font-size: 0.7rem;
}
